html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.navbar {
  height: 2.5em;
  width: 100%;
  background-color: #004c8c;
  color: #ffffff;
  margin: 0; }
  .navbar :link {
    text-decoration: none;
    color: #ffffff; }
  .navbar ul {
    display: inline-block;
    list-style-type: none;
    height: 100%;
    margin: 0;
    font-size: 1.5em;
    font-family: sans-serif; }
  .navbar li {
    display: block;
    float: left;
    height: 100%;
    width: contain;
    color: white;
    text-align: center;
    margin: 0;
    padding: .25em 1em; }
    .navbar li:hover {
      background-color: #003059; }
    .navbar li a {
      display: block;
      width: 100%;
      height: 100%; }

body {
  background: #e0e0e0; }

header {
  background: #0277bd;
  color: white;
  margin: 0;
  font-family: sans-serif;
  padding: 5px 1em .5em 1em; }
  header h1 {
    margin: 0; }
  @media screen and (min-width: 768px) {
    header {
      padding: 5px 1em .5em 40px; } }

section {
  width: 100%;
  font-size: 1em;
  color: white;
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 768px) {
    section {
      width: 50%; } }
  @media screen and (min-width: 1068px) {
    section {
      margin: auto; } }
  section .subhead {
    width: 100%;
    background-color: #004c8c;
    color: black;
    background-color: #58a5f0;
    height: 2.5em; }
    section .subhead h2, section .subhead h3 {
      color: white;
      margin: 0; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .container {
      width: 70%;
      max-width: 960px;
      margin: 0; } }
  @media screen and (min-width: 1068px) {
    .container {
      max-width: 1040px;
      margin: 0; } }
