
// modular file imports
@import 'variables';
@import 'mixins';
@import 'navbar';

body {
    background: $gray;
}

.container {
    width:100%; // phone
    margin: 0m;
    @media screen and ($tablet) { //go larger
        width: 70%;
        max-width: 960px;
        margin: 0;
    }
    @media screen and ($desktop) { //larger yet!!!
        max-width: 1040px;
        margin: 0;
    }
}

header {
    background: $blue;
    color: white;
    margin: 0;
}

.navbar {
    height: 2em;
    width: 100%;
    background-color: $dark-blue;
    color: $white;
    margin: 0;
    ul{
        display: inline-block;
        list-style-type: none;
        height: 100%;
        margin: 0;
        font-size:1.5em;
    }
    li {
        display: block;
        float: left;
        width: 33%;
        height: 100%;
        color: white;
        text-align: center;
        margin:0;
        &:hover {
            & {
                width: 20%;
            }
            background-color: black;
            width: 40%;
        }
        @media screen and ($tablet) {
            width: 5rem;
        }
    }
}

.section {
    width: 100%;
    border: 1px black;
    font-size: 1em;
    color: white;
    background-color: $blue;
    @media screen and ($tablet) {
        width: 50%;
    }
    
    @media screen and ($desktop) {
        max-width: 25%;
        margin: auto;
    }
    .subhead {
        width:100%;
        background-color: $dark-blue;
        color: white;
        height: 3em;
        h2 {
            color: white;
        }
    }
}