
// modular file imports
@import 'variables';
@import 'mixins';
@import 'navbar';

body {
    background: $gray;
}



header {
    background: $blue;
    color: white;
    margin: 0;
    font-family: sans-serif;
    h1 {
        margin: 0;
    }
    padding: 5px 1em .5em 1em;
    @media screen and ($tablet) {
        padding: 5px 1em .5em 40px;
    }
}


section {
    @include grid-column(12, 0);
    font-size: 1em;
    color: white;
    padding: 0;
    margin:0;
    // @media screen and ($tablet) {
    //     @include grid-column (6, 0);
    // }
    
    @media screen and ($desktop) {
        margin: auto;
    }
    .subhead {
        @include column-grid(12, 0);
        background-color: $dark-blue;
        color: black;
        background-color: $light-blue;
        height: 2.5em;
        h2, h3 {
            color: white;
            margin:0;
        }
    }
}

.container {
    @include column-grid(12, 0); // phone
    margin: 0;
    padding: 0;
}