
.navbar {
    height: 2em;
    width: 100%;
    background-color: $dark-blue;
    color: $white;
    margin: 0;
    ul{
        display: inline-block;
        list-style-type: none;
        height: 100%;
        margin: 0;
        font-size:1.5em;
    }
    li {
        display: block;
        float: left;
        width: 33%;
        height: 100%;
        color: white;
        text-align: center;
        margin:0;
        &:hover {
            & {
                width: 20%;
            }
            background-color: black;
            width: 40%;
        }
        @media screen and ($tablet) {
            width: 5rem;
        }
    }
}